<a href="https://colab.research.google.com/github/Kavya-1708/python_assignments/blob/main/Pandas_casestudy1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Write a function that takes start and end of a range returns a pandas series object containing numbers within that range. In case the user does not pass start or end or both they should default to 1 and 10 respectively.**

**E.g: -> range_series() -> Should Return a pandas series from 1 to 10 range_series(5) -> Should Return a pandas series from 5 to 10 range_series(5, 10) -> Should Return a pandas series from 5 to 15 Create a method that takes n NumPy arrays of the same dimensions, sums them and returns the answer.**

In [19]:
import pandas as pd

def range_series(start=1, end=10):
    return pd.Series(range(start, end+1))

# Examples
print(range_series())       # Output: Series from 1 to 10
print(range_series(5))      # Output: Series from 5 to 10
print(range_series(5, 15))  # Output: Series from 5 to 15

import numpy as np

def sum_arrays(*arrays):
    return np.sum(arrays, axis=0)

# Example
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
arr3 = np.array([7, 8, 9])

print(sum_arrays(arr1, arr2, arr3))  # Output: [12 15 18]

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64
0      5
1      6
2      7
3      8
4      9
5     10
6     11
7     12
8     13
9     14
10    15
dtype: int64
[12 15 18]

**- Create a function that takes in two lists named keys and values as arguments Keys would be strings and contain n string values Values would be a list containing n lists The methods should return a new pandas DataFrame with keys as column names and values as their corresponding values, e.g: ->create_dataframe(["One", "Two"], [["X", "Y"], ["A", "B"]]) -> should return a data frame One Two 0 X A 1 Y**

In [20]:
def create_dataframe(keys, values):
    return pd.DataFrame(dict(zip(keys, values)))

# Example
keys = ["One", "Two"]
values = [["X", "Y"], ["A", "B"]]

df = create_dataframe(keys, values)
print(df)

  One Two
0   X   A
1   Y   B

**- Write code to load data from cars.csv into a dataframe and print its details. Details like: 'count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'.**

In [21]:
df = pd.read_csv("cars.csv")
print(df.describe())

            S.No        mpg        cyl        disp          hp       drat  \
count  32.000000  32.000000  32.000000   32.000000   32.000000  32.000000
mean   16.500000  20.090625   6.187500  230.721875  146.687500   3.596563
std     9.380832   6.026948   1.785922  123.938694   68.562868   0.534679
min     1.000000  10.400000   4.000000   71.100000   52.000000   2.760000
25%     8.750000  15.425000   4.000000  120.825000   96.500000   3.080000
50%    16.500000  19.200000   6.000000  196.300000  123.000000   3.695000
75%    24.250000  22.800000   8.000000  326.000000  180.000000   3.920000
max    32.000000  33.900000   8.000000  472.000000  335.000000   4.930000

              wt       qsec         vs         am       gear     carb
count  32.000000  29.000000  32.000000  32.000000  32.000000  32.0000
mean    3.217250  17.674828   0.437500   0.406250   3.687500   2.8125
std     0.978457   1.780394   0.504016   0.498991   0.737804   1.6152
min     1.513000  14.500000   0.000000   0.000000   3.000000   1.0000
25%     2.581250  16.870000   0.000000   0.000000   3.000000   2.0000
50%     3.325000  17.420000   0.000000   0.000000   4.000000   2.0000
75%     3.610000  18.600000   1.000000   1.000000   4.000000   4.0000
max     5.424000  22.900000   1.000000   1.000000   5.000000   8.0000

**- Write a method that will take a column name as argument and return the name of the column with which the given column has the highest correlation. The data to be used is the cars dataset. The returned value should not the column named that was passed as the parameters, e.g. : get_max_correlated_column('mpg') -> should return 'drat**

In [23]:
def get_max_correlated_column(df, column):
    # Calculate correlations, excluding non-numeric columns
    correlations = df.corr(numeric_only=True)[column].drop(column)
    return correlations.idxmax()

# Example
max_correlated_col = get_max_correlated_column(df, "mpg")
print(max_correlated_col)

drat